{% extends 'base.html' %}

{% block title %}Все новости — ВЕСТНИК{% endblock %}

{% block content %}
<h3>Все новости</h3>
<div class="row">
  {% for post in posts %}
  <div class="col-md-6 mb-3">
    <div class="news-card">
      <a href="{% url 'read_news_page' pk=post.pk %}"><img src="{{ post.image_url }}" alt="" class="card-img"></a>
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'read_news_page' pk=post.pk %}">{{ post.title }}</a></h5>
        <div class="card-meta">{{ post.created_at|date:"d.m.Y" }}</div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
