{% extends 'base.html' %}

{% block title %}{{ post.title }} — ВЕСТНИК{% endblock %}

{% block content %}
<article class="read-article">
  <h1>{{ post.title }}</h1>
  <div class="meta mb-2">{{ post.created_at|date:"d.m.Y H:i" }}</div>
  {% if post.image_url %}
  <img src="{{ post.image_url }}" alt="{{ post.title }}" class="img-fluid mb-3">
  {% endif %}
  <div class="content">{{ post.content|linebreaks }}</div>
  <p class="mt-3"><a href="{% url 'news_by_category' pk=post.category.pk %}">#{{ post.category.name }}</a></p>
</article>

{% endblock %}
